@{
    ViewData["Title"] = "Yeni Ürün Ekle";
}

@section Styles {
    <link rel="stylesheet" href="~/css/inventory/addProduct.css">
}
    <main class="add-product-container">
        <div class="product-form">
            <h1 class="envanter-title">ENVANTER</h1>
            <h2 class="page-title">Yeni Ürün Ekle</h2>

            <div class="bulk-add-section">
                <h3>Toplu şekilde ürün ekleyin.</h3>
                <div class="info-text">
                    <p><i class="material-icons">check</i> Mağazanıza eklemek istediğiniz ürünlerin ASIN'lerini veya ürün URL'lerini sistemimizde zahmetsizce ekleyebilirsiniz.</p>
                    <p><i class="material-icons">check</i> Ekleme işlemini tamamladıktan sonra, ürünleriniz 60 dakika içinde mağazanıza yüklemeye başlar.</p>
                </div>

                <div class="selection-area">
                    <h4>Seçim yapın</h4>
                    <select class="asin-select">
                        <option value="asin">ASIN</option>
                    </select>
                    <p class="select-hint">ASIN veya ürün URL'ine göre mi ekleme yapacaksınız?</p>
                </div>

                <div class="asin-input-area">
                    <h4>ASIN veya ürün URL Listesi</h4>
                    <textarea placeholder="Her satıra bir tane olmak üzere bir ASIN listesi girin."></textarea>
                    <p class="input-hint">Bir seferde en fazla 5.000 ASIN veya ürün URL'i girebilirsiniz.</p>
                </div>

                <div class="sku-prefix-area">
                    <h4>SKU Prefix</h4>
                    <input type="text" placeholder="SKU'larınız için bir ön ek belirleyin.">
                    <p class="sku-hint">SKU şöyle görünecektir: AMZR-XXXX-123456</p>
                </div>

                <button class="add-products-btn">Ürünleri Ekle</button>
            </div>
        </div>
    </main>
@section Scripts {
    <script src="~/js/inventory/addProduct.js"></script>
}