@{
    ViewData["Title"] = "Kurulum";
}

    <!-- Ana İçerik -->
    <main>
        <header>
            <div class="dashboard-container">
                <div class="section-header">
                    <h2>GENEL BAKIŞ</h2>
                    <div class="header-controls">
                        <select class="period-select">
                            <option>Son 365 Gün</option>
                            <option>Son 30 Gün</option>
                            <option>Son 7 Gün</option>
                        </select>
                        <select class="country-select">
                            <option>U.A.E.</option>
                            <option>USA</option>
                        </select>
                    </div>
                </div>
                </div>
        </header>
        </main>
